#contentPane {
	-fx-background-color: #293135;
}

#commandPane {
	-fx-background-color: #3c3f41;
}

#commandPane HBox {
	-fx-alignment: center;
	-fx-padding: 10px;
	-fx-spacing: 10.0;
}

#commandPane .button {
	-fx-background-color: transparent;
	-fx-border-color: #55585a;
	-fx-border-radius: 5;
	-fx-text-fill: #dfdfd0;
	-fx-font-size: 18px;
	-fx-pref-height: 30px;
}

#commandPane .button:hover {
	-fx-background-color: #4a4d4f;
	-fx-border-color: #a8a899;
	-fx-text-fill: #dfdfd0;
}

.rotate-ball {
	-fx-fill: radial-gradient(center 50% 50%, radius 60%, #ffffff, #b54040 0.12, #6d3636 1.0);
	-fx-opacity: 0.4;
	-fx-stroke: derive(#ffffff, 40%);
	-fx-stroke-type: centered;
	-fx-stroke-width: 1px;
}
